@use "./propiedades";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    height: 300px;
    width: 100%;
    background-color: #17755A;
    background-image: url("../../../src/assets/img/bg1.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header .header__nav {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

#header .header__nav .nav__item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#header .header__nav .nav__item .nav__item-container ul {
    @include propiedades.navegaçãoItens(propiedades.$textos-especiais, propiedades.$efeitos, 18px);
    gap: 40px;
}