@use "./propiedades";
@media screen and (min-width: 1200px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    #header {
        height: 38vw;
        min-height: 420px;
        width: 100%;
        background-color: #17755A;
        background-image: url("../../../src/assets/img/fundos/bg1.png");
        background-size: cover;
        @include propiedades.flexContainer(space-between, center);
        flex-direction: column;
        position: relative;
        z-index: 1;

        .header__nav {
            width: inherit;
            @include propiedades.flexContainer(center, center);
            flex-direction: row;
            padding: 20px;

            .nav__item {
                width: 80%;
                @include propiedades.flexContainer(space-between, center);
                flex-direction: row;

                .nav__item-container ul {
                    @include propiedades.navegaçãoItens(propiedades.$textos-especiais, 18px);
                    gap: 40px;

                    li {
                        z-index: 2000;

                        &:hover {
                            transition: all 0.2s ease-in;
                            color: propiedades.$efeitos;
                        }
                    }
                }
            }
        }

        #header__destaque {
            position: relative;
            z-index: 1;
            @include propiedades.flexContainer(center, center);
            flex-direction: column;
            width: 100%;
            margin-bottom: 12vh;

            h1 {
                @include propiedades.roboto("Roboto-Black.ttf", "Black");
                text-transform: uppercase;
                font-family: "Roboto-Black";
                font-size: 12vw;
                font-style: italic;
                text-decoration: underline;
                color: propiedades.$textos-especiais;
                position: relative;
                z-index: 1;
                text-align: center;
                transform: translateY(-30px);
            }

            .header__destaque__imagens {
                width: 100%;
                height: 40vw;
                @include propiedades.flexContainer(center, center);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;

                div {
                    width: inherit;
                    height: inherit;
                    background-size: cover;
                }

                #header__destaque__imagens-item {
                    background-image: url("../../../src/assets/img/carros/bg-1-1.png");
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                }

                .header__destaque__imagens-Fumaças {
                    width: 100%;
                    height: 40vw;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url("../../../src/assets/img/fundos/bg-2.png");
                    background-attachment: scroll;
                    background-size: cover;
                    z-index: 2;
                }
            }
        }

        .header__extra {
            width: 100%;
            @include propiedades.flexContainer(flex-end, center);

            .header__extra-elementos {
                width: 50%;
                @include propiedades.flexContainer(flex-start, center);
                flex-direction: row;
                margin-bottom: 30px;
                gap: 100px;

                p {
                    @include propiedades.roboto("Roboto-Bold.ttf", "Bold");
                    font-family: "Roboto-Bold", Helvetica, sans-serif;
                    text-transform: uppercase;
                    font-style: italic;
                    font-size: 16px;
                    color: propiedades.$textos-especiais;
                }

                i {
                    color: #FFFB38;
                    margin-left: 6px;
                }
            }
        }
    }

    .sections {
        width: 100%;
        height: auto;
        @include propiedades.flexContainer(center, center);
        margin-bottom: 8vh;

        .section__titulos {
            width: 100%;
            margin-bottom: 20px;

            .section__titulos__subtitulo {
                @include propiedades.textos();
                color: propiedades.$subtitulos;
            }

            h2 {
                @include propiedades.titulos();
            }
        }

        .sections__pop-up {
            width: 40%;
            height: auto;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.158);
            background-color: white;
            padding: 40px;
            z-index: 15;
            position: relative;
            top: -6.5vh;
            margin-left: 5vw;


            .sections__pop-up__caixas {
                width: 100%;

                .sections__pop-up__caixas__titulos {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #EDEDED;
                    @include propiedades.flexContainer(space-between, center);
                    flex-direction: row;
                    margin-bottom: 20px;
                    cursor: pointer;

                    p {
                        @include propiedades.poppins("Poppins-SemiBold.ttf", "SemiBold");
                        font-family: "Poppins-SemiBold", Helvetica, sans-serif;
                    }
                }

                .sections__pop-up__caixas__textos {
                    width: 100%;
                    margin: 10px 0;
                    font-family: "Poppins-Light", Helvetica, sans-serif;
                    text-align: justify;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
                }

                .sections__pop-up__caixas__textos.open {
                    max-height: 200px;
                    padding: 10px 0;
                }
            }

            button {
                border: 1px solid black;
                width: 120px;
                @include propiedades.botões();
            }
        }

        .sections__container-video {
            width: 40vw;
            max-width: 600px;
            min-width: 300px;
            margin: 0 auto;
            padding: 10px;
            position: relative;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            overflow: hidden;
            background-color: #f8f9fa;

            .sections__container-video__capa {
                position: relative;
                width: 100%;
                padding-top: 53.25%;
                z-index: 200;
                overflow: hidden;
                border-radius: 10px;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 10px;
                }
            }
        }

        .sections__container-serviços {
            width: 89.7%;
            height: auto;

            .sections__container-serviços__agrupador {
                width: 100%;
                height: auto;
                @include propiedades.flexContainer(flex-start, flex-start);
                flex-wrap: wrap;
                gap: 40px;

                .sections__container-serviços__agrupador__textos {
                    width: 30%;
                    height: auto;

                    h3 {
                        font-family: "Poppins-SemiBold", Helvetica, sans-serif;
                        margin-bottom: 10px;
                    }

                    p {
                        font-family: "Poppins-Light", Helvetica, sans-serif;
                        text-align: justify;
                        margin-right: 20px;
                    }
                }
            }
        }

        .sections__posters {
            width: 17vw;
            height: 30vw;
            margin-right: 30px;
            background-size: cover;
        }

        .sections__posters:first-child {
            background-image: url("../../../src/assets/img/carros/modelo1.png");
        }

        .sections__posters:nth-child(2) {
            width: 23vw;
            background-image: url("../../../src/assets/img/carros/modelo2.png");
        }

        .sections__posters:last-child {
            background-image: url("../../../src/assets/img/carros/modelo3.png");
        }

        .sections__galeria {
            width: 89.7%;
            height: auto;

            .sections__galeria__layout {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: auto auto;
                gap: 10px;

                .sections__galeria__layout-itens {
                    width: 100%;
                    height: 18vw;
                    background-size: cover;
                    background-position: center;
                }

                .sections__galeria__layout-itens:nth-child(1) {
                    grid-column: span 2;
                    width: 44.4vw;
                    background-image: url("../../../src/assets/img/carros/poster1.jpg");
                }

                .sections__galeria__layout-itens:nth-child(2) {
                    grid-column: 3 / 4;
                    background-image: url("../../../src/assets/img/carros/poster2.jpg");
                }

                .sections__galeria__layout-itens:nth-child(3) {
                    grid-column: 4 / 5;
                    grid-row: 1 / 3;
                    height: calc(2 * 18vw + 10px);
                    background-image: url("../../../src/assets/img/carros/poster3.jpg");
                    background-position: bottom;
                }

                .sections__galeria__layout-itens:nth-child(4) {
                    background-image: url("../../../src/assets/img/carros/poster4.jpg");
                }

                .sections__galeria__layout-itens:nth-child(5) {
                    background-image: url("../../../src/assets/img/carros/poster5.jpg");
                }

                .sections__galeria__layout-itens:nth-child(6) {
                    background-image: url("../../../src/assets/img/carros/poster6.jpg");
                }
            }
        }

        .sections__opiniões {
            width: 65%;
            height: auto;
            @include propiedades.flexContainer(center, flex-start);
            flex-direction: column;
        
            .sections__opiniões__gerenciador {
                @include propiedades.flexContainer(center, center);
                gap: 50px;
                overflow: hidden;
                position: relative;
        
                .sections__opiniões__itens {
                    width: 50%;
                    height: inherit;
                    @include propiedades.flexContainer(flex-start, flex-start);
                    flex-direction: row;
                    gap: 20px;
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out;
                    display: none; // Esconde os itens por padrão
        
                    &.ativo {
                        opacity: 1;
                        display: flex; // Mostra os itens ativos
                    }
        
                    &.fade-enter {
                        opacity: 0;
                    }
        
                    &.fade-enter-active {
                        opacity: 1;
                        transition: opacity 0.5s ease-in-out;
                    }
        
                    &.fade-exit {
                        opacity: 1;
                    }
        
                    &.fade-exit-active {
                        opacity: 0;
                        transition: opacity 0.5s ease-in-out;
                    }
        
                    .sections__opiniões__itens__aspas {
                        display: flex;
                        align-items: flex-start;
        
                        span {
                            @font-face {
                                font-family: "aspas";
                                src: url("../../../src/assets/font/Coustard/Coustard-Regular.ttf");
                            }
        
                            font-size: 6vw;
                            font-family: "aspas", Helvetica, sans-serif;
                            color: #97989b;
                        }
                    }
        
                    .sections__opiniões__itens__textos {
                        @font-face {
                            font-family: "nunito-light";
                            src: url("../../../src/assets/font/Nunito/Nunito-Light.ttf");
                        }
        
                        font-family: "nunito-light", Helvetica, sans-serif;
                        text-align: justify;
        
                        .sections__opiniões__itens__textos__autores__nome {
                            margin-top: 10px;
                            font-weight: bold;
                            font-size: 1.1em;
                        }
        
                        .sections__opiniões__itens__textos__autores__status {
                            color: #636464;
                            font-size: 1em;
                            margin-left: 1px;
                        }
                    }
                }
            }
        
            .sections__opiniões__navegação {
                width: 100%;
                height: auto;
                @include propiedades.flexContainer(center, center);
                gap: 10px;
        
                .sections__opiniões__navegação__pontos {
                    width: 0.7vw;
                    height: 0.7vw;
                    border-radius: 100%;
                    background-color: #97989b;
                    cursor: pointer;
                }
            }
        }
        
    }

    .footer__section-title {
        font-family: 'Poppins-Light', Helvetica, sans-serif;
        font-size: 1.6vw;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .footer__contact {
        width: 100%;
        height: auto;
        margin-top: 5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    
        > .footer__contact-info {
            &:first-child {
                > i {
                    font-size: 1.5vw;
                    padding-right: 5px;
                }
    
                > .footer__contact-text {
                    @extend .footer__section-title;
                    display: inline;
                }
            }
        }

        .footer__contact-form {
            .footer__contact-input {
                border: none;
                font-size: 18px;
                padding: 5px;
                border-radius: 5px;
                background-color: transparent;
                caret-color: white;
                color: propiedades.$textos-especiais;

                &:focus {
                    outline: none;
                }

            }

            > .footer__contact-button {
                @include propiedades.botões();
                width: 4vw;
                border: 1px solid white;
                color: white;
                padding: 5px;
            }
        }
    }
    
    .footer {
        padding-top: 20px;
        color: propiedades.$textos-especiais !important;
        background-color: #3C3C3C;
        display: flex;
        flex-direction: column;
        width: 100%;
        @include propiedades.flexContainer(center, center);
    }
    
    .footer__container {
        border-top: 1px solid white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

    .footer__main {
        width: 75%;
    }
    
    .footer__section {
        min-width: 21%;
        margin: 20px;
    
        p {
            font-family: "Poppins-Light", Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.6;
        }
    
        ul {
            font-size: 16px;
            line-height: 1.6;
            list-style: none;
            padding: 0;
    
            li {
                font-family: 'Poppins-Light', Helvetica, sans-serif;
                margin-bottom: 10px;
    
                a {
                    color: propiedades.$textos-especiais;
                    text-decoration: none;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .footer__social-icons {
            @include propiedades.flexContainer(flex-start, center);
            gap: 20px;

            .footer__social-icon {
                color: white;
                text-decoration: none;
                font-size: 1.5vw;

                &:hover {
                    color: #97989b;
                }
            }
        }
    
    }
    
    .footer__bottom {
        text-align: center;
        padding: 20px 0;
    
        p {
            margin: 0;
            font-size: 14px;
        }
    }
    
}