@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  height: 38vw;
  min-height: 420px;
  width: 100%;
  background-color: #17755A;
  background-image: url("../../../src/assets/img/bg1.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
#header .header__nav {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}
#header .header__nav .nav__item {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#header .header__nav .nav__item .nav__item-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
#header .header__nav .nav__item .nav__item-container ul li {
  list-style-type: none;
  font-family: "Roboto-Light", Helvetica, sans-serif;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 18px;
  transition: 0.2s ease-in;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../../../src/assets/font/Roboto/Roboto-Light.ttf");
}
#header .header__nav .nav__item .nav__item-container ul li:hover {
  color: #FFFB38;
}
#header #header__destaque {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12vh;
}
#header #header__destaque h1 {
  text-transform: uppercase;
  font-family: "Roboto-Black";
  font-size: 12vw;
  font-style: italic;
  text-decoration: underline;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  text-align: center;
  transform: translateY(-30px);
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../../../src/assets/font/Roboto/Roboto-Black.ttf");
}
#header #header__destaque .header__destaque__imagens {
  width: 100%;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#header #header__destaque .header__destaque__imagens div {
  width: inherit;
  height: inherit;
  background-size: cover;
}
#header #header__destaque .header__destaque__imagens #header__destaque__imagens-item {
  background-image: url("../../../src/assets/img/bg-1-1.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#header #header__destaque .header__destaque__imagens .header__destaque__imagens-Fumaças {
  width: 100%;
  height: 40vw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../src/assets/img/bg-2.png");
  background-attachment: scroll;
  background-size: cover;
  z-index: 2;
}
#header .header__extra {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .header__extra .header__extra-elementos {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
  gap: 100px;
}
#header .header__extra .header__extra-elementos p {
  font-family: "Roboto-Bold", Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  font-size: 16px;
  color: #FFFFFF;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../../src/assets/font/Roboto/Roboto-Bold.ttf");
}
#header .header__extra .header__extra-elementos i {
  color: #FFFB38;
  margin-left: 6px;
}

.sections {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.sections .sections__pop-up {
  width: 40%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.158);
  background-color: white;
  padding: 40px;
  z-index: 15;
  position: relative;
  top: -6.5vh;
  margin-left: 5vw;
}
.sections .sections__pop-up .sections__pop-up__titulo {
  width: 100%;
  margin-bottom: 20px;
}
.sections .sections__pop-up .sections__pop-up__titulo .sections__pop-up__subtitulo {
  font-family: "Poppins-Light", Helvetica, sans-serif;
  font-size: 16px;
  color: #737373;
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../../../src/assets/font/Poppins/Poppins-Light.ttf");
}
.sections .sections__pop-up .sections__pop-up__titulo h2 {
  font-weight: normal;
  font-family: "Poppins-Regular";
  font-size: 32px;
  color: #3C3C3C;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../../../src/assets/font/Poppins/Poppins-Regular.ttf");
}
.sections .sections__pop-up .sections__pop-up__titulo h2 span {
  color: #009688;
  font-size: inherit;
  margin-right: 5px;
  font-weight: 700;
}
.sections .sections__pop-up .sections__pop-up__caixas {
  width: 100%;
}
.sections .sections__pop-up .sections__pop-up__caixas .sections__pop-up__caixas__titulos {
  width: 100%;
  padding: 10px;
  border: 1px solid #EDEDED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.sections .sections__pop-up .sections__pop-up__caixas .sections__pop-up__caixas__titulos p {
  font-family: "Poppins-SemiBold", Helvetica, sans-serif;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../../src/assets/font/Poppins/Poppins-SemiBold.ttf");
}
.sections .sections__pop-up .sections__pop-up__caixas .sections__pop-up__caixas__textos {
  width: 100%;
  margin: 10px 0;
  font-family: "Poppins-Light", Helvetica, sans-serif;
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}
.sections .sections__pop-up .sections__pop-up__caixas .sections__pop-up__caixas__textos.open {
  max-height: 200px;
  padding: 10px 0;
}
.sections .sections__pop-up button {
  border: 1px solid black;
  width: 120px;
  border-radius: 30px;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  font-family: "Poppins-Light", Helvetica, sans-serif;
  font-weight: 300;
  cursor: pointer;
}
.sections .sections__pop-up button:hover {
  transition: all 0.3s ease-in;
  border: none;
  background-color: #009688;
  color: white;
}
.sections .sections__container-video {
  width: 40vw;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: #f8f9fa;
}
.sections .sections__container-video .sections__container-video__capa {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  z-index: 200;
  overflow: hidden;
  border-radius: 10px;
}
.sections .sections__container-video .sections__container-video__capa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */