$poppins: "../../../src/assets/font/Poppins/";
$roboto: "../../../src/assets/font/Roboto/";

@use "./cores";

@mixin poppins($definicao, $nome) {
    @font-face {
        font-family: "Poppins-#{$nome}";
        src: url("#{$poppins}#{$definicao}");
    }
}

@mixin roboto($definicao, $nome) {
    @font-face {
        font-family: "Roboto-#{$nome}";
        src: url("#{$roboto}#{$definicao}");
    }
}

@mixin listasMenu() {
    @include roboto("Roboto-Light.ttf", "Light");
    list-style-type: none;
    font-family: "Roboto-Light", Helvetica, sans-serif;
}

@mixin titulos($tamanhoFonte, $fonte) {
    @include poppins($fonte); /*Arrumar isso mais tarde, colocando a devida fonte*/
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: $tamanhoFonte;
    color: $titulos;

    span {
        color: $numero-titulos;
        font-size: inherit;
        margin-right: 5px;
    }
}

@mixin textos() {
    @include poppins("Poppins-Light.ttf");
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 16px;
    color: $textos;
}