@use "./textos";
@use "./cores";

@mixin navegaçãoItens($cor, $tamanho) {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
        @include textos.listasMenu();
        cursor: pointer;

        color: $cor;
        font-size: $tamanho;

        a {
            color: $cor;
            text-decoration: none;
            margin-bottom: 8px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@mixin botões() {
    border-radius: 30px;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    font-family: "Poppins-Light", Helvetica, sans-serif;
    font-weight: 300;
    cursor: pointer;

    &:hover {
        transition: all 0.3s ease-in;
        border: none;
        background-color: cores.$especial;
        color: white;
    }
}

@mixin flexContainer($x, $y) {
    display: flex;
    justify-content: $x;
    align-items: $y;
}

@mixin set-grid($cols, $gap) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
}

@mixin grid-item($span, $start: auto) {
    grid-column: span $span;
    @if $start != auto {
        grid-column-start: $start;
    }
}