@use "./textos";
@use "./cores";

@mixin navegaçãoItens($cor, $tamanho) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    ul li {
        @include listasMenu($cor, $tamanho);
        list-style-type: none;
    }
}

@mixin botões() {
    border-radius: 100%;
    background-color: transparent;
    &:hover {
        border: none;
        background-color: $especial;
        color: white;
    }
}