@use "./textos";
@use "./cores";

@mixin navegaçãoItens($cor, $cor2, $tamanho) {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
        @include textos.listasMenu();
        cursor: pointer;

        color: $cor;
        font-size: $tamanho;
        transition: 0.2s ease-in;

        &:hover {
            color: $cor2;
        }
    }
}

@mixin botões() {
    border-radius: 30px;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    font-family: "Poppins-Light", Helvetica, sans-serif;
    font-weight: 300;
    cursor: pointer;

    &:hover {
        transition: all 0.3s ease-in;
        border: none;
        background-color: cores.$especial;
        color: white;
    }
}