@use "./textos";
@use "./cores";

@mixin navegaçãoItens($cor, $cor2, $tamanho) {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
        @include textos.listasMenu();
        cursor: pointer;

        color: $cor;
        font-size: $tamanho;
        transition: 0.2s ease-in;

        &:hover {
            color: $cor2;
        }
    }
}

@mixin botões() {
    border-radius: 100%;
    background-color: transparent;

    &:hover {
        border: none;
        background-color: $especial;
        color: white;
    }
}